<% provide(:title, "Log in") %>
<section class="main-content">
<h2 class="padding20">Log in</h2>
<div class="row">
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
        <div class="form-group">
            <%= f.label :email, class: "col-4"  %>
            <%= f.email_field :email %>
        </div>
        <div class="form-group">
            <%= f.label :password, class: "col-4"  %>
            <%= f.password_field :password %>
        </div>
        <div class="form-group col-4">
            <%= f.submit "Log in", class: "btn btn-primary" %>
        </div>
        <p class="col-8"> New User ? <%= link_to "Sign up now!", signup_path %></p>
    <% end %>
    
</div>
</section>

