<section class="main-content">
    <div class="text-center">

        <h1>Purotein</h1>
        <p>Welcome to Purotein, an app that help you find the best protein snack!<br/>
        Sign up to build up your favourite list!</p>

        <%= link_to "Log in", '/login', class: "btn btn-lg btn-primary" %>
        <%= link_to "Sign up", '/signup', class: "btn btn-lg btn-primary" %>
    </div>

    <% @products.each do | product| %>
    <div class ="row">
        <div class="col-2"> 
            <%= link_to image_tag(product.image, :class => "img-fluid"), product if product.product_image.present? %>
        </div>
        <div class ="col-10">
            <h4><%= link_to product.product_name, product %></h4>
            <%= link_to product.brand.name, product.brand %>
            <div class="row">
                <div class="col-1">
                    <span>Cal</span> <%= product.calorie %> 
                </div>
                <div class="col-1">
                    <span>Protein</span> <%= product.protein %>
                </div>
                <div class="col-1">
                    <span>Carb</span> <%= product.carb %>
                </div>
                <div class="col-1">
                    <span>Fat</span> <%= product.fat %>
                </div>
            </div>
        </div>
       

        <div class="controls">
        <%= link_to 'Edit', edit_product_path(product) %>  |  
        <%= link_to 'Delete', product_path(product.id), :method => 'delete', :data => { :confirm => 'Are you sure?'}  %>
        </div>
        </div>
<% end %> 
</div>


</div>
<section>