<% @products.each do | product| %>
    <div class ="row product-wrapper">
        <div class="col-2"> 
            <%= link_to image_tag(product.product_image, :class => "img-fluid product-img"), product if product.product_image.present? %>
        </div>
        <div class ="col-10 product-details">
            <h3 class="product-name"><%= link_to product.product_name, product %></h3>
            <%= link_to product.brand.name, product.brand, :class=>"brand-link" %>
            <div class="row">
                <div class="col-1">
                    <span>Cal</span> <%= product.calorie %> 
                </div>
                <div class="col-1">
                    <span>Protein</span> <%= product.protein %>
                </div>
                <div class="col-1">
                    <span>Carb</span> <%= product.carb %>
                </div>
                <div class="col-1">
                    <span>Fat</span> <%= product.fat %>
                </div>
            </div>
        </div>
       
        <% if logged_in? %>
        <div class="controls">
        <%= link_to 'Edit', edit_product_path(product) %>  |  
        <%= link_to 'Delete', product_path(product.id), :method => 'delete', :data => { :confirm => 'Are you sure?'}  %>
        </div>
        <% end %>
        </div>
<% end %> 