  <header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <%= link_to "PUROTEIN", root_path, id: "logo", class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      <div class="collapse navbar-collapse" id="navbarSupportedCont">
        <ul class="navbar-nav mr-auto">
          <li><%= link_to "all snacks",   '/products' , class: "nav-link" %></li>
          <% if logged_in? %>
          <li><%= link_to "+ add snack",   '/add-snack' , class: "nav-link" %></li>
          <% end %>
          <% if logged_in? %>
            <li><%= link_to @user , user_path(current_user), class: "nav-link" %></li>
            <li><%= link_to "log out", '/logout' , class: "nav-link" %></li>
          <% else %>
            <li><%= link_to "log in", '/login' , class: "nav-link" %></li>
            <li><%= link_to "sign up", '/signup' , class: "nav-link" %></li>
          <% end %>
        </ul>
      </div>
    </div>
    </nav>
  </header>